if SHIELD_FLAVIUS_LEFT

config ZMK_KEYBOARD_NAME
    default "flavius"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_FLAVIUS_LEFT || SHIELD_FLAVIUS_RIGHT

config ZMK_SPLIT
    default y

endif